<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/public/login.css">
</head>

<body>
<form action="" id="loginBlock">
    <input v-model="username" type="text" name="account" placeholder="Account:" class="textBox">
    <br>
    <input v-model="password" type="password" name="password" placeholder="Password:" class="textBox">
    <div id="buttonBlock">
        <button v-on:click="signUp" id="signupButton" type="button">SignUp</button>
        <span id="border">|</span>
        <button v-on:click="signIn" id="signinButton" type="button">&gt;</button>
    </div>
</form>

<script src="../../js/vue.js"></script>
<script src="../../js/login.js"></script>
<script>

</script>
</body>

</html>
