<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>

    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/public/signup.css">
</head>

<body>
<form action="" id="signupBlock">
    <input v-model="username" type="text" name="account" placeholder="Account:" class="textBox">
    <br>
    <input v-model="password" type="password" name="password" placeholder="Password:" class="textBox">
    <br>
    <input v-model="confirm" type="password" name="passwordConfirm" placeholder="Password Confirm:" class="textBox">
    <br>
    <button v-on:click="registerAdmin" id="signup_admin" type="button">Admin</button>
    <span id="border">|</span>
    <button v-on:click="registerCustomer" id="signup_customer" type="button">Customer</button>
</form>

<script src="../../js/vue.js"></script>
<script src="../../js/signup.js"></script>
</body>

</html>
